<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../style/index.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5893600165409682"
     crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li><a href="">Vtu notes</a></li>
        <li><a href="">Laboratory</a>
        </li>
        <li><a href="">Syllabus</a></li>
        <li><a href="">Model Paper</a></li>
        <li><a href="../about.html">About us</a></li>
    </nav>
    <main>
        <h1>Welcome to VTU Track</h1>
        <h2>Here you find all notes form every scheme</h2>
        <div class="herosection" id="herosection">
            <div class="contents" id="contents">
                <!-- contents are dynamically loading... -->
            </div>
        </div>
    </main>
    <script src="/scripts/index.js"></script>
</body>

</html>
