<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/index.css">
</head>
<body>
    <nav>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li><a href="">Vtu notes</a></li>
        <li><a href="">Laboratory</a>
        </li>
        <li><a href="">Syllabus</a></li>
        <li><a href="">Model Paper</a></li>
        <li><a href="About us">About us</a></li>
    </nav>
    <div>
        <div id="cards">

        </div>
    </div>
    <script src="../../scripts/innerelements/2022schemeCSE.js"></script>
</body>
</html>