<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/index.css">
    <link rel="stylesheet" href="../../style/subject.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5893600165409682"
     crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <li>
            <a href="../index.html">Home</a>
        </li>
        <li><a href="">Vtu notes</a></li>
        <li><a href="">Laboratory</a>
        </li>
        <li><a href="">Syllabus</a></li>
        <li><a href="">Model Paper</a></li>
        <li><a href="../about.html">About us</a></li>
    </nav>
    <div class="module-buttons">
        <button onclick="downloadPDF(1)">module 1</button>
    <button onclick="downloadPDF(2)">module 2</button>
    <button onclick="downloadPDF(3)">module 3</button>
    <button onclick="downloadPDF(4)">module 4</button>
    <button onclick="downloadPDF(5)">module 5</button>
    </div>
    
    <script src="../../scripts/subject.js">
    

    </script>
</body>

</html>
