<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Year</title>
    <link rel="stylesheet" href="../../style/index.css">
    <link rel="stylesheet" href="../../style/firstyear.css">
</head>
<body>

    <nav>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li><a href="">Vtu notes</a></li>
        <li><a href="">Laboratory</a>
        </li>
        <li><a href="">Syllabus</a></li>
        <li><a href="">Model Paper</a></li>
        <li><a href="../../about.html">About us</a></li>
    </nav>

<div id="scheme">
    <h2>Scheme</h2>

    <button class="schemebutton" onclick="window.location.href='../CSE/2022scheme.html'">2022 Scheme</button>
    <button class="schemebutton" onclick="window.location.href='../CSE/2022scheme.html'">2025 Scheme</button>

    <!-- <div id="firstyearcontents"></div> -->
</div>

<script src="../../scripts/innerelements/2022schemeCSE.js"></script>
</body>
</html>
